html, body
{
    margin: 0;
    padding: 0;

    font-family: 'Helvetica', sans-serif;
    font-size: 15px;
}

.container
{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* HEAD NAV */
.header
{
    background-color: #7FFFD4;
}

.nav
{
    display: flex;
    justify-content: center;
    height: 60px;
    line-height: 40px;

}

.nav a
{
    text-decoration: none;
    margin-right: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    color: black;
    padding: 10px 15px;
    transition: background-color .5s ease-in-out;
}

.nav a:last-child
{
    margin-right: 0;
}

.nav a:hover
{
    background-color: #00CED1;
}


/* section header */
.section{
    width: 100%;
}

.section__header h1{
    text-align: center;
    margin-top: 20px;
}
/* GREETING WINDOW */
.gw{
    
    background: linear-gradient( rgba(255, 255, 255, .50), rgba(255, 255, 255, .50) ), url('../images/bg/geo.jpg') center no-repeat;
    background-size: cover;
    
}

.gw__inner{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    /* window height minus header */
    height: calc(100vh - 60px);

    
}

.gw__header{

    margin-bottom: 40px;
}

.button{
    display: block;
    border: 0;
    outline: none;
    border-radius: 10px;
    background-color: #7FFFD4;
    padding: 20px 40px;
    font-size: 18px;
    cursor: pointer;

    transition: background .2s linear;
}

.button:hover{
    background-color: #37E1FF;
}

/* MAIN QUIZ */
.main
{
    display: none;
    justify-content: center;
    /* align-items: center; */


    /* высота экрана минус header */
    height: calc(100vh - 60px);
}


/* HEAD */
.quiz__body{
    max-width: 620px;
    margin: 0 auto;
}
.quiz__head
{
    text-align: center;
    margin-top: 50px;
}

/* QUESTION */
.quiz__question
{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
   
}


.quiz__question img
{
    display: block;
    margin-top: 15px;
    border-radius: 20px;

    max-width: 620px;
}

/* ANSWER */

.quiz__answer
{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.quiz__answer input
{
    padding: 10px 15px;
    outline: none;
    border: none;
    border-radius: 7px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    background-color: #EFEFEF;
    transition: box-shadow .1s linear;
}

.quiz__answer input:focus
{
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.quiz__answer input.right
{
    background-color: #32CD32;
}

.quiz__answer input.wrong
{
    background-color: #FF0000;
}

.quiz__answer button
{
    padding: 10px 15px;
    outline: none;
    border: 1px solid #7FFFD4;
    background-color: #7FFFD4;
    border-radius: 7px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    transition: box-shadow .2s linear;

    margin-left: 10px;
}

.quiz__answer button:hover
{
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

/* .right
{
    background-color: #32CD32;
}
.wrong
{
    background-color: #FF0000;
} */

/* QUIZ FOOTER */

.quiz__quiz-footer
{
    display: flex;
    justify-content: center;

    margin-top: 40px;
}

.quiz__quiz-footer .quiz-footer__content
{
    font-size: 20px;
}


.quiz__description{
    margin-top: 40px;
    height: 150px;

    font-size: 20px;
}
.quiz__mark{
    font-size: 25px;
    font-weight: 700;

    margin-bottom: 20px;
}

.quiz__mark.right::before{
    display: inline-block;
    font-family: 'Font Awesome 5 Pro';
    content: '\f057';
    color: green;
    font-size: 20px;
    font-weight: 900;
    margin-right: 10px;
}

.quiz__mark.wrong::before{
    display: inline-block;
    font-family: 'Font Awesome 5 Pro';
    content: '\f058';
    color: red;
    font-size: 20px;
    font-weight: 900;
    margin-right: 10px;
}

.quiz__mark.right{
    color: green;
}


.quiz__mark.wrong{
    color: red;
}

/* RESULTS */
.result{
    width: 100%;
    margin-top: 50px;
    min-height: calc(100vh - 110px);
}
.result__inner{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.result__item{
   
    font-size: 18px;
    padding: 20px 30px;
    width: 44%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.result__item.right{
    background-color: #F0FFF2;
}

.result__item.wrong{
    background-color: #FFE9E9;
}

.result__question{
    display: inline-block;
    margin: 0;
}

.result__mark{
    font-size: 18px;
    margin: 10px 0;
}
.result__mark.right{
    color: green;
}
.result__mark.wrong{
    color: red;
}
.result__right-answer{
    font-weight: 700;
}
/* FOOTER */

.footer
{
    height: 300px;
    background-color: #EFEFEF;
}

.footer__content
{
    display: flex;
    justify-content: flex-start;
}

.footer__copy
{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: italic;
}


/* special styles */

.hide{
    display: none;
}

.show{
    display: flex;
}

/* fade */

.fade-in{
    opacity: 1;
    transition: opacity .2s linear;
}

.fade-out{
    opacity: 0;
    overflow: hidden;
    transition: opacity .2s linear;
}